<h1> Listing Businesses </h1>
<table>
  <tbody>
    <% @listing.each do |listing| %>
      <tr>
       <td><%= listing.name %></td>
       <td><%= link_to 'Show', listing  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>